<a href="https://colab.research.google.com/github/aniishap/ds2002/blob/main/Data_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ETL Data Processor Project

Target DB Schema: Sakila Database

### Import Necessary Libraries

In [ ]:
!pip install PyMySQL
!pip install mysql.connector
!pip install sqlalchemy
!pip install mysql-connector-python
!pip install pyMysql
!pip install pymongo

Requirement already satisfied: PyMySQL in /usr/local/lib/python3.10/dist-packages (1.1.0)
Requirement already satisfied: mysql.connector in /usr/local/lib/python3.10/dist-packages (2.2.9)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)
Requirement already satisfied: pyMysql in /usr/local/lib/python3.10/dist-packages (1.1.0)
Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.6.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)

In [ ]:
import os
import datetime
import pymongo
import pprint
import pandas as pd
import numpy
import pandas as pd
from sqlalchemy import create_engine

### Declare & Assign Connection Variables to query MySQL using Python


> Add blockquote

In [ ]:


#Set the host name here
#If you are running against a database locally it would be local host or 127.0.0.1
host_name = "database.ds2002.org"
#host_ip = "127.0.0.1"
port = "3306"

user_id = "euv7bw" # my computing id
pwd = "euv7bw!"  #
db_name = "sakila" # db i want to use

### Verify that the connection is succesful

In [ ]:

import pymysql

conn = pymysql.connect(
    host=host_name,
    user=user_id,
    password=pwd
)

print("Connected successfully")
conn.close()

Connected successfully

### Define Functions for Getting Data From and Setting Data Into Databases (MySQL, phpMyAdmin)

In [ ]:

def get_dataframe(user_id, pwd, host_name, db_name, sql_query):
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@{host_name}/{db_name}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    connection = sqlEngine.connect()
    dframe = pd.read_sql(sql_query, connection);
    connection.close()

    return dframe


def set_dataframe(user_id, pwd, host_name, db_name, df, table_name, pk_column, db_operation):
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@{host_name}/{db_name}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    connection = sqlEngine.connect()

    if db_operation == "insert":
        df.to_sql(table_name, con=connection, index=False, if_exists='replace')
        sqlEngine.execute(f"ALTER TABLE {table_name} ADD PRIMARY KEY ({pk_column});")

    elif db_operation == "update":
        df.to_sql(table_name, con=connection, index=False, if_exists='append')

    connection.close()

### Create & Populate New Dimension Tables: Extracting Data from Sakila Database

SELECT and extract tables chosen for database idea. From the sakila database, I decided to choose these 5 tables: **film, film_category, category, film_actor, and actor**. I decided to choose these 5 ables because they related to each other through primary and foreign keys. The implication of this database is that these tables can keep track and manage various film types and their inventories. Overall, it keeps track of movie rentals and management.

In [ ]:

sql_film = "SELECT * FROM sakila.film;"
df_film = get_dataframe(user_id, pwd, host_name,db_name, sql_film)
df_film.head(5)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [ ]:
sql_filmcategory = "SELECT * FROM sakila.film_category;"
df_filmcategory = get_dataframe(user_id, pwd, host_name,db_name, sql_filmcategory)
df_filmcategory.head(5)

   film_id  category_id         last_update
0        1            6 2006-02-15 05:07:09
1        2           11 2006-02-15 05:07:09
2        3            6 2006-02-15 05:07:09
3        4           11 2006-02-15 05:07:09
4        5            8 2006-02-15 05:07:09

In [ ]:
sql_category = "SELECT * FROM sakila.category;"
df_category = get_dataframe(user_id, pwd, host_name,db_name, sql_category)
df_category.head(5)

   category_id       name         last_update
0            1     Action 2006-02-15 04:46:27
1            2  Animation 2006-02-15 04:46:27
2            3   Children 2006-02-15 04:46:27
3            4   Classics 2006-02-15 04:46:27
4            5     Comedy 2006-02-15 04:46:27

In [ ]:
sql_filmactor = "SELECT * FROM sakila.film_actor;"
df_filmactor = get_dataframe(user_id, pwd, host_name,db_name, sql_filmactor)
df_filmactor.head(5)

   actor_id  film_id         last_update
0         1        1 2006-02-15 05:05:03
1         1       23 2006-02-15 05:05:03
2         1       25 2006-02-15 05:05:03
3         1      106 2006-02-15 05:05:03
4         1      140 2006-02-15 05:05:03

In [ ]:
sql_actor = "SELECT * FROM sakila.actor;"
df_actor = get_dataframe(user_id, pwd, host_name,db_name, sql_actor)
df_actor.head(5)

   actor_id first_name     last_name         last_update
0         1   PENELOPE       GUINESS 2006-02-15 04:34:33
1         2       NICK      WAHLBERG 2006-02-15 04:34:33
2         3         ED         CHASE 2006-02-15 04:34:33
3         4   JENNIFER         DAVIS 2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33

### Perform Any Necessary Transformations to the DataFrames

Columns were dropped from the 5 dataframes to ensure that data is concise and relevant to the selected database design of tracking movie rental types and management.

In [ ]:
drop_cols = ['last_update', 'original_language_id', 'special_features', 'description']
df_film.drop(drop_cols, axis=1, inplace=True)
df_film.head(2)

,film_id,title,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating
0,1,ACADEMY DINOSAUR,2006,1,6,0.99,86,20.99,PG
1,2,ACE GOLDFINGER,2006,1,3,4.99,48,12.99,G

In [ ]:
drop_cols = ['last_update']
df_filmactor.drop(drop_cols, axis=1, inplace=True)
df_filmactor.head(2)

   actor_id  film_id
0         1        1
1         1       23

In [ ]:
drop_cols = ['last_update']
df_filmcategory.drop(drop_cols, axis=1, inplace=True)
print(df_filmcategory)

     film_id  category_id
0          1            6
1          2           11
2          3            6
3          4           11
4          5            8
..       ...          ...
995      996            6
996      997           12
997      998           11
998      999            3
999     1000            5

[1000 rows x 2 columns]

In [ ]:
drop_cols = ['last_update']
df_actor.drop(drop_cols, axis=1, inplace=True)
df_actor.head(2)

   actor_id first_name last_name
0         1   PENELOPE   GUINESS
1         2       NICK  WAHLBERG

In [ ]:
drop_cols = ['last_update']
df_category.drop(drop_cols, axis=1, inplace=True)
df_category.head(2)

   category_id       name
0            1     Action
1            2  Animation

## Load the Transformed DataFrames into the New Data Warehouse by Creating New Tables Using MySQL

In [ ]:
import mysql.connector

# Define connection parameters
host = 'database.ds2002.org'  # Replace with your MySQL host address
user = 'euv7bw'     # Replace with your MySQL username
password = 'euv7bw!' # Replace with your MySQL password
database = 'euv7bw' # Replace with your MySQL database name

# Connect to MySQL
try:
    conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
    print("Connected to MySQL database")
except mysql.connector.Error as err:
    print("Error connecting to MySQL database:", err)

Connected to MySQL database

In [ ]:
cursor = conn.cursor()
cursor.execute("SHOW TABLES")


tables = cursor.fetchall()  # Fetch all tables
for (table_name,) in tables:
    print(table_name)

cursor.close()
conn.close()

actor
category
film
film_actor
film_category
film_profits

### Create film Table

In [ ]:
try:
    conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
    print("Connected to MySQL database")
except mysql.connector.Error as err:
    print("Error connecting to MySQL database:", err)

if conn.is_connected():
    print("Successfully connected to the database")

cursor = conn.cursor()

create_film_query = """
CREATE TABLE film (
  film_id INT AUTO_INCREMENT PRIMARY KEY,
  title VARCHAR(128) NOT NULL,
  release_year YEAR,
  language_id INT,
  rental_duration INT,
  rental_rate DECIMAL(4,2),
  length INT,
  replacement_cost DECIMAL(5,2),
  rating ENUM('G', 'PG', 'PG-13', 'R', 'NC-17'))
"""

try:
    cursor.execute(create_film_query)
    print("Table 'example_table' created successfully.")
except mysql.connector.Error as err:
    print(f"Failed to create table: {err}")

cursor.execute("SHOW TABLES")


tables = cursor.fetchall()
for (table_name,) in tables:
    print(table_name)


cursor.close()
conn.close()

Connected to MySQL database
Successfully connected to the database
Failed to create table: 1050 (42S01): Table 'film' already exists
actor
category
film
film_actor
film_category
film_profits

In [ ]:
try:
    conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
    print("Connected to MySQL database")
except mysql.connector.Error as err:
    print("Error connecting to MySQL database:", err)
    exit(1)

if conn.is_connected():
    cursor = conn.cursor()

    try:
        cursor.execute("SELECT * FROM film")
        films = cursor.fetchall()
        for film in films:
            print(film)

    except mysql.connector.Error as err:
        print("Error executing SELECT query:", err)
    finally:
        cursor.close()
        conn.close()

Connected to MySQL database
(1, 'ACADEMY DINOSAUR', 2006, 1, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG')
(2, 'ACE GOLDFINGER', 2006, 1, 3, Decimal('4.99'), 48, Decimal('12.99'), 'G')
(3, 'ADAPTATION HOLES', 2006, 1, 7, Decimal('2.99'), 50, Decimal('18.99'), 'NC-17')
(4, 'AFFAIR PREJUDICE', 2006, 1, 5, Decimal('2.99'), 117, Decimal('26.99'), 'G')
(5, 'AFRICAN EGG', 2006, 1, 6, Decimal('2.99'), 130, Decimal('22.99'), 'G')
(6, 'AGENT TRUMAN', 2006, 1, 3, Decimal('2.99'), 169, Decimal('17.99'), 'PG')
(7, 'AIRPLANE SIERRA', 2006, 1, 6, Decimal('4.99'), 62, Decimal('28.99'), 'PG-13')
(8, 'AIRPORT POLLOCK', 2006, 1, 6, Decimal('4.99'), 54, Decimal('15.99'), 'R')
(9, 'ALABAMA DEVIL', 2006, 1, 3, Decimal('2.99'), 114, Decimal('21.99'), 'PG-13')
(10, 'ALADDIN CALENDAR', 2006, 1, 6, Decimal('4.99'), 63, Decimal('24.99'), 'NC-17')
(11, 'ALAMO VIDEOTAPE', 2006, 1, 6, Decimal('0.99'), 126, Decimal('16.99'), 'G')
(12, 'ALASKA PHANTOM', 2006, 1, 6, Decimal('0.99'), 136, Decimal('22.99'), 'PG')
(13, 'ALI FOREVER', 2006, 1, 4, Decimal('4.99'), 150, Decimal('21.99'), 'PG')
(14, 'ALICE FANTASIA', 2006, 1, 6, Decimal('0.99'), 94, Decimal('23.99'), 'NC-17')
(15, 'ALIEN CENTER', 2006, 1, 5, Decimal('2.99'), 46, Decimal('10.99'), 'NC-17')
(16, 'ALLEY EVOLUTION', 2006, 1, 6, Decimal('2.99'), 180, Decimal('23.99'), 'NC-17')
(17, 'ALONE TRIP', 2006, 1, 3, Decimal('0.99'), 82, Decimal('14.99'), 'R')
(18, 'ALTER VICTORY', 2006, 1, 6, Decimal('0.99'), 57, Decimal('27.99'), 'PG-13')
(19, 'AMADEUS HOLY', 2006, 1, 6, Decimal('0.99'), 113, Decimal('20.99'), 'PG')
(20, 'AMELIE HELLFIGHTERS', 2006, 1, 4, Decimal('4.99'), 79, Decimal('23.99'), 'R')
(21, 'AMERICAN CIRCUS', 2006, 1, 3, Decimal('4.99'), 129, Decimal('17.99'), 'R')
(22, 'AMISTAD MIDSUMMER', 2006, 1, 6, Decimal('2.99'), 85, Decimal('10.99'), 'G')
(23, 'ANACONDA CONFESSIONS', 2006, 1, 3, Decimal('0.99'), 92, Decimal('9.99'), 'R')
(24, 'ANALYZE HOOSIERS', 2006, 1, 6, Decimal('2.99'), 181, Decimal('19.99'), 'R')
(25, 'ANGELS LIFE', 2006, 1, 3, Decimal('2.99'), 74, Decimal('15.99'), 'G')
(26, 'ANNIE IDENTITY', 2006, 1, 3, Decimal('0.99'), 86, Decimal('15.99'), 'G')
(27, 'ANONYMOUS HUMAN', 2006, 1, 7, Decimal('0.99'), 179, Decimal('12.99'), 'NC-17')
(28, 'ANTHEM LUKE', 2006, 1, 5, Decimal('4.99'), 91, Decimal('16.99'), 'PG-13')
(29, 'ANTITRUST TOMATOES', 2006, 1, 5, Decimal('2.99'), 168, Decimal('11.99'), 'NC-17')
(30, 'ANYTHING SAVANNAH', 2006, 1, 4, Decimal('2.99'), 82, Decimal('27.99'), 'R')
(31, 'APACHE DIVINE', 2006, 1, 5, Decimal('4.99'), 92, Decimal('16.99'), 'NC-17')
(32, 'APOCALYPSE FLAMINGOS', 2006, 1, 6, Decimal('4.99'), 119, Decimal('11.99'), 'R')
(33, 'APOLLO TEEN', 2006, 1, 5, Decimal('2.99'), 153, Decimal('15.99'), 'PG-13')
(34, 'ARABIA DOGMA', 2006, 1, 6, Decimal('0.99'), 62, Decimal('29.99'), 'NC-17')
(35, 'ARACHNOPHOBIA ROLLERCOASTER', 2006, 1, 4, Decimal('2.99'), 147, Decimal('24.99'), 'PG-13')
(36, 'ARGONAUTS TOWN', 2006, 1, 7, Decimal('0.99'), 127, Decimal('12.99'), 'PG-13')
(37, 'ARIZONA BANG', 2006, 1, 3, Decimal('2.99'), 121, Decimal('28.99'), 'PG')
(38, 'ARK RIDGEMONT', 2006, 1, 6, Decimal('0.99'), 68, Decimal('25.99'), 'NC-17')
(39, 'ARMAGEDDON LOST', 2006, 1, 5, Decimal('0.99'), 99, Decimal('10.99'), 'G')
(40, 'ARMY FLINTSTONES', 2006, 1, 4, Decimal('0.99'), 148, Decimal('22.99'), 'R')
(41, 'ARSENIC INDEPENDENCE', 2006, 1, 4, Decimal('0.99'), 137, Decimal('17.99'), 'PG')
(42, 'ARTIST COLDBLOODED', 2006, 1, 5, Decimal('2.99'), 170, Decimal('10.99'), 'NC-17')
(43, 'ATLANTIS CAUSE', 2006, 1, 6, Decimal('2.99'), 170, Decimal('15.99'), 'G')
(44, 'ATTACKS HATE', 2006, 1, 5, Decimal('4.99'), 113, Decimal('21.99'), 'PG-13')
(45, 'ATTRACTION NEWTON', 2006, 1, 5, Decimal('4.99'), 83, Decimal('14.99'), 'PG-13')
(46, 'AUTUMN CROW', 2006, 1, 3, Decimal('4.99'), 108, Decimal('13.99'), 'G')
(47, 'BABY HALL', 2006, 1, 5, Decimal('4.99'), 153, Decimal('23.99'), 'NC-17')
(48, 'BACKLASH UNDEFEATED', 2006, 1, 3, Decimal('4.99'), 118, Decimal('24.99'), 'PG-13')
(49, 'BADMAN DAWN', 2006, 1, 6, Decimal('2.99'), 162, Decimal('22.99'), 'R')
(50, 'BAKED CLEOPATRA', 2006, 1, 3, Decimal('2.99'), 182, Decimal('20.99'), 'G')
(51, 'BALLOON HOMEWARD', 2006, 1, 5, Decimal('2.99'), 75, Decimal('10.99'), 'NC-17')
(52, 'BALLROOM MOCKINGBIRD', 2006, 1, 6, Decimal('0.99'), 173, Decimal('29.99'), 'G')
(53, 'BANG KWAI', 2006, 1, 5, Decimal('2.99'), 87, Decimal('25.99'), 'NC-17')
(54, 'BANGER PINOCCHIO', 2006, 1, 5, Decimal('0.99'), 113, Decimal('15.99'), 'R')
(55, 'BARBARELLA STREETCAR', 2006, 1, 6, Decimal('2.99'), 65, Decimal('27.99'), 'G')
(56, 'BAREFOOT MANCHURIAN', 2006, 1, 6, Decimal('2.99'), 129, Decimal('15.99'), 'G')
(57, 'BASIC EASY', 2006, 1, 4, Decimal('2.99'), 90, Decimal('18.99'), 'PG-13')
(58, 'BEACH HEARTBREAKERS', 2006, 1, 6, Decimal('2.99'), 122, Decimal('16.99'), 'G')
(59, 'BEAR GRACELAND', 2006, 1, 4, Decimal('2.99'), 160, Decimal('20.99'), 'R')
(60, 'BEAST HUNCHBACK', 2006, 1, 3, Decimal('4.99'), 89, Decimal('22.99'), 'R')
(61, 'BEAUTY GREASE', 2006, 1, 5, Decimal('4.99'), 175, Decimal('28.99'), 'G')
(62, 'BED HIGHBALL', 2006, 1, 5, Decimal('2.99'), 106, Decimal('23.99'), 'NC-17')
(63, 'BEDAZZLED MARRIED', 2006, 1, 6, Decimal('0.99'), 73, Decimal('21.99'), 'PG')
(64, 'BEETHOVEN EXORCIST', 2006, 1, 6, Decimal('0.99'), 151, Decimal('26.99'), 'PG-13')
(65, 'BEHAVIOR RUNAWAY', 2006, 1, 3, Decimal('4.99'), 100, Decimal('20.99'), 'PG')
(66, 'BENEATH RUSH', 2006, 1, 6, Decimal('0.99'), 53, Decimal('27.99'), 'NC-17')
(67, 'BERETS AGENT', 2006, 1, 5, Decimal('2.99'), 77, Decimal('24.99'), 'PG-13')
(68, 'BETRAYED REAR', 2006, 1, 5, Decimal('4.99'), 122, Decimal('26.99'), 'NC-17')
(69, 'BEVERLY OUTLAW', 2006, 1, 3, Decimal('2.99'), 85, Decimal('21.99'), 'R')
(70, 'BIKINI BORROWERS', 2006, 1, 7, Decimal('4.99'), 142, Decimal('26.99'), 'NC-17')
(71, 'BILKO ANONYMOUS', 2006, 1, 3, Decimal('4.99'), 100, Decimal('25.99'), 'PG-13')
(72, 'BILL OTHERS', 2006, 1, 6, Decimal('2.99'), 93, Decimal('12.99'), 'PG')
(73, 'BINGO TALENTED', 2006, 1, 5, Decimal('2.99'), 150, Decimal('22.99'), 'PG-13')
(74, 'BIRCH ANTITRUST', 2006, 1, 4, Decimal('4.99'), 162, Decimal('18.99'), 'PG')
(75, 'BIRD INDEPENDENCE', 2006, 1, 6, Decimal('4.99'), 163, Decimal('14.99'), 'G')
(76, 'BIRDCAGE CASPER', 2006, 1, 4, Decimal('0.99'), 103, Decimal('23.99'), 'NC-17')
(77, 'BIRDS PERDITION', 2006, 1, 5, Decimal('4.99'), 61, Decimal('15.99'), 'G')
(78, 'BLACKOUT PRIVATE', 2006, 1, 7, Decimal('2.99'), 85, Decimal('12.99'), 'PG')
(79, 'BLADE POLISH', 2006, 1, 5, Decimal('0.99'), 114, Decimal('10.99'), 'PG-13')
(80, 'BLANKET BEVERLY', 2006, 1, 7, Decimal('2.99'), 148, Decimal('21.99'), 'G')
(81, 'BLINDNESS GUN', 2006, 1, 6, Decimal('4.99'), 103, Decimal('29.99'), 'PG-13')
(82, 'BLOOD ARGONAUTS', 2006, 1, 3, Decimal('0.99'), 71, Decimal('13.99'), 'G')
(83, 'BLUES INSTINCT', 2006, 1, 5, Decimal('2.99'), 50, Decimal('18.99'), 'G')
(84, 'BOILED DARES', 2006, 1, 7, Decimal('4.99'), 102, Decimal('13.99'), 'PG')
(85, 'BONNIE HOLOCAUST', 2006, 1, 4, Decimal('0.99'), 63, Decimal('29.99'), 'G')
(86, 'BOOGIE AMELIE', 2006, 1, 6, Decimal('4.99'), 121, Decimal('11.99'), 'R')
(87, 'BOONDOCK BALLROOM', 2006, 1, 7, Decimal('0.99'), 76, Decimal('14.99'), 'NC-17')
(88, 'BORN SPINAL', 2006, 1, 7, Decimal('4.99'), 179, Decimal('17.99'), 'PG')
(89, 'BORROWERS BEDAZZLED', 2006, 1, 7, Decimal('0.99'), 63, Decimal('22.99'), 'G')
(90, 'BOULEVARD MOB', 2006, 1, 3, Decimal('0.99'), 63, Decimal('11.99'), 'R')
(91, 'BOUND CHEAPER', 2006, 1, 5, Decimal('0.99'), 98, Decimal('17.99'), 'PG')
(92, 'BOWFINGER GABLES', 2006, 1, 7, Decimal('4.99'), 72, Decimal('19.99'), 'NC-17')
(93, 'BRANNIGAN SUNRISE', 2006, 1, 4, Decimal('4.99'), 121, Decimal('27.99'), 'PG')
(94, 'BRAVEHEART HUMAN', 2006, 1, 7, Decimal('2.99'), 176, Decimal('14.99'), 'PG-13')
(95, 'BREAKFAST GOLDFINGER', 2006, 1, 5, Decimal('4.99'), 123, Decimal('18.99'), 'G')
(96, 'BREAKING HOME', 2006, 1, 4, Decimal('2.99'), 169, Decimal('21.99'), 'PG-13')
(97, 'BRIDE INTRIGUE', 2006, 1, 7, Decimal('0.99'), 56, Decimal('24.99'), 'G')
(98, 'BRIGHT ENCOUNTERS', 2006, 1, 4, Decimal('4.99'), 73, Decimal('12.99'), 'PG-13')
(99, 'BRINGING HYSTERICAL', 2006, 1, 7, Decimal('2.99'), 136, Decimal('14.99'), 'PG')
(100, 'BROOKLYN DESERT', 2006, 1, 7, Decimal('4.99'), 161, Decimal('21.99'), 'R')
(101, 'BROTHERHOOD BLANKET', 2006, 1, 3, Decimal('0.99'), 73, Decimal('26.99'), 'R')
(102, 'BUBBLE GROSSE', 2006, 1, 4, Decimal('4.99'), 60, Decimal('20.99'), 'R')
(103, 'BUCKET BROTHERHOOD', 2006, 1, 7, Decimal('4.99'), 133, Decimal('27.99'), 'PG')
(104, 'BUGSY SONG', 2006, 1, 4, Decimal('2.99'), 119, Decimal('17.99'), 'G')
(105, 'BULL SHAWSHANK', 2006, 1, 6, Decimal('0.99'), 125, Decimal('21.99'), 'NC-17')
(106, 'BULWORTH COMMANDMENTS', 2006, 1, 4, Decimal('2.99'), 61, Decimal('14.99'), 'G')
(107, 'BUNCH MINDS', 2006, 1, 4, Decimal('2.99'), 63, Decimal('13.99'), 'G')
(108, 'BUTCH PANTHER', 2006, 1, 6, Decimal('0.99'), 67, Decimal('19.99'), 'PG-13')
(109, 'BUTTERFLY CHOCOLAT', 2006, 1, 3, Decimal('0.99'), 89, Decimal('17.99'), 'G')
(110, 'CABIN FLASH', 2006, 1, 4, Decimal('0.99'), 53, Decimal('25.99'), 'NC-17')
(111, 'CADDYSHACK JEDI', 2006, 1, 3, Decimal('0.99'), 52, Decimal('17.99'), 'NC-17')
(112, 'CALENDAR GUNFIGHT', 2006, 1, 4, Decimal('4.99'), 120, Decimal('22.99'), 'NC-17')
(113, 'CALIFORNIA BIRDS', 2006, 1, 4, Decimal('4.99'), 75, Decimal('19.99'), 'NC-17')
(114, 'CAMELOT VACATION', 2006, 1, 3, Decimal('0.99'), 61, Decimal('26.99'), 'NC-17')
(115, 'CAMPUS REMEMBER', 2006, 1, 5, Decimal('2.99'), 167, Decimal('27.99'), 'R')
(116, 'CANDIDATE PERDITION', 2006, 1, 4, Decimal('2.99'), 70, Decimal('10.99'), 'R')
(117, 'CANDLES GRAPES', 2006, 1, 6, Decimal('4.99'), 135, Decimal('15.99'), 'NC-17')
(118, 'CANYON STOCK', 2006, 1, 7, Decimal('0.99'), 85, Decimal('26.99'), 'R')
(119, 'CAPER MOTIONS', 2006, 1, 6, Decimal('0.99'), 176, Decimal('22.99'), 'G')
(120, 'CARIBBEAN LIBERTY', 2006, 1, 3, Decimal('4.99'), 92, Decimal('16.99'), 'NC-17')
(121, 'CAROL TEXAS', 2006, 1, 4, Decimal('2.99'), 151, Decimal('15.99'), 'PG')
(122, 'CARRIE BUNCH', 2006, 1, 7, Decimal('0.99'), 114, Decimal('11.99'), 'PG')
(123, 'CASABLANCA SUPER', 2006, 1, 6, Decimal('4.99'), 85, Decimal('22.99'), 'G')
(124, 'CASPER DRAGONFLY', 2006, 1, 3, Decimal('4.99'), 163, Decimal('16.99'), 'PG-13')
(125, 'CASSIDY WYOMING', 2006, 1, 5, Decimal('2.99'), 61, Decimal('19.99'), 'NC-17')
(126, 'CASUALTIES ENCINO', 2006, 1, 3, Decimal('4.99'), 179, Decimal('16.99'), 'G')
(127, 'CAT CONEHEADS', 2006, 1, 5, Decimal('4.99'), 112, Decimal('14.99'), 'G')
(128, 'CATCH AMISTAD', 2006, 1, 7, Decimal('0.99'), 183, Decimal('10.99'), 'G')
(129, 'CAUSE DATE', 2006, 1, 3, Decimal('2.99'), 179, Decimal('16.99'), 'R')
(130, 'CELEBRITY HORN', 2006, 1, 7, Decimal('0.99'), 110, Decimal('24.99'), 'PG-13')
(131, 'CENTER DINOSAUR', 2006, 1, 5, Decimal('4.99'), 152, Decimal('12.99'), 'PG')
(132, 'CHAINSAW UPTOWN', 2006, 1, 6, Decimal('0.99'), 114, Decimal('25.99'), 'PG')
(133, 'CHAMBER ITALIAN', 2006, 1, 7, Decimal('4.99'), 117, Decimal('14.99'), 'NC-17')
(134, 'CHAMPION FLATLINERS', 2006, 1, 4, Decimal('4.99'), 51, Decimal('21.99'), 'PG')
(135, 'CHANCE RESURRECTION', 2006, 1, 3, Decimal('2.99'), 70, Decimal('22.99'), 'R')
(136, 'CHAPLIN LICENSE', 2006, 1, 7, Decimal('2.99'), 146, Decimal('26.99'), 'NC-17')
(137, 'CHARADE DUFFEL', 2006, 1, 3, Decimal('2.99'), 66, Decimal('21.99'), 'PG')
(138, 'CHARIOTS CONSPIRACY', 2006, 1, 5, Decimal('2.99'), 71, Decimal('29.99'), 'R')
(139, 'CHASING FIGHT', 2006, 1, 7, Decimal('4.99'), 114, Decimal('21.99'), 'PG')
(140, 'CHEAPER CLYDE', 2006, 1, 6, Decimal('0.99'), 87, Decimal('23.99'), 'G')
(141, 'CHICAGO NORTH', 2006, 1, 6, Decimal('4.99'), 185, Decimal('11.99'), 'PG-13')
(142, 'CHICKEN HELLFIGHTERS', 2006, 1, 3, Decimal('0.99'), 122, Decimal('24.99'), 'PG')
(143, 'CHILL LUCK', 2006, 1, 6, Decimal('0.99'), 142, Decimal('17.99'), 'PG')
(144, 'CHINATOWN GLADIATOR', 2006, 1, 7, Decimal('4.99'), 61, Decimal('24.99'), 'PG')
(145, 'CHISUM BEHAVIOR', 2006, 1, 5, Decimal('4.99'), 124, Decimal('25.99'), 'G')
(146, 'CHITTY LOCK', 2006, 1, 6, Decimal('2.99'), 107, Decimal('24.99'), 'G')
(147, 'CHOCOLAT HARRY', 2006, 1, 5, Decimal('0.99'), 101, Decimal('16.99'), 'NC-17')
(148, 'CHOCOLATE DUCK', 2006, 1, 3, Decimal('2.99'), 132, Decimal('13.99'), 'R')
(149, 'CHRISTMAS MOONSHINE', 2006, 1, 7, Decimal('0.99'), 150, Decimal('21.99'), 'NC-17')
(150, 'CIDER DESIRE', 2006, 1, 7, Decimal('2.99'), 101, Decimal('9.99'), 'PG')
(151, 'CINCINATTI WHISPERER', 2006, 1, 5, Decimal('4.99'), 143, Decimal('26.99'), 'NC-17')
(152, 'CIRCUS YOUTH', 2006, 1, 5, Decimal('2.99'), 90, Decimal('13.99'), 'PG-13')
(153, 'CITIZEN SHREK', 2006, 1, 7, Decimal('0.99'), 165, Decimal('18.99'), 'G')
(154, 'CLASH FREDDY', 2006, 1, 6, Decimal('2.99'), 81, Decimal('12.99'), 'G')
(155, 'CLEOPATRA DEVIL', 2006, 1, 6, Decimal('0.99'), 150, Decimal('26.99'), 'PG-13')
(156, 'CLERKS ANGELS', 2006, 1, 3, Decimal('4.99'), 164, Decimal('15.99'), 'G')
(157, 'CLOCKWORK PARADISE', 2006, 1, 7, Decimal('0.99'), 143, Decimal('29.99'), 'PG-13')
(158, 'CLONES PINOCCHIO', 2006, 1, 6, Decimal('2.99'), 124, Decimal('16.99'), 'R')
(159, 'CLOSER BANG', 2006, 1, 5, Decimal('4.99'), 58, Decimal('12.99'), 'R')
(160, 'CLUB GRAFFITI', 2006, 1, 4, Decimal('0.99'), 65, Decimal('12.99'), 'PG-13')
(161, 'CLUE GRAIL', 2006, 1, 6, Decimal('4.99'), 70, Decimal('27.99'), 'NC-17')
(162, 'CLUELESS BUCKET', 2006, 1, 4, Decimal('2.99'), 95, Decimal('13.99'), 'R')
(163, 'CLYDE THEORY', 2006, 1, 4, Decimal('0.99'), 139, Decimal('29.99'), 'PG-13')
(164, 'COAST RAINBOW', 2006, 1, 4, Decimal('0.99'), 55, Decimal('20.99'), 'PG')
(165, 'COLDBLOODED DARLING', 2006, 1, 7, Decimal('4.99'), 70, Decimal('27.99'), 'G')
(166, 'COLOR PHILADELPHIA', 2006, 1, 6, Decimal('2.99'), 149, Decimal('19.99'), 'G')
(167, 'COMA HEAD', 2006, 1, 6, Decimal('4.99'), 109, Decimal('10.99'), 'NC-17')
(168, 'COMANCHEROS ENEMY', 2006, 1, 5, Decimal('0.99'), 67, Decimal('23.99'), 'R')
(169, 'COMFORTS RUSH', 2006, 1, 3, Decimal('2.99'), 76, Decimal('19.99'), 'NC-17')
(170, 'COMMAND DARLING', 2006, 1, 5, Decimal('4.99'), 120, Decimal('28.99'), 'PG-13')
(171, 'COMMANDMENTS EXPRESS', 2006, 1, 6, Decimal('4.99'), 59, Decimal('13.99'), 'R')
(172, 'CONEHEADS SMOOCHY', 2006, 1, 7, Decimal('4.99'), 112, Decimal('12.99'), 'NC-17')
(173, 'CONFESSIONS MAGUIRE', 2006, 1, 7, Decimal('4.99'), 65, Decimal('25.99'), 'PG-13')
(174, 'CONFIDENTIAL INTERVIEW', 2006, 1, 6, Decimal('4.99'), 180, Decimal('13.99'), 'NC-17')
(175, 'CONFUSED CANDLES', 2006, 1, 3, Decimal('2.99'), 122, Decimal('27.99'), 'PG-13')
(176, 'CONGENIALITY QUEST', 2006, 1, 6, Decimal('0.99'), 87, Decimal('21.99'), 'PG-13')
(177, 'CONNECTICUT TRAMP', 2006, 1, 4, Decimal('4.99'), 172, Decimal('20.99'), 'R')
(178, 'CONNECTION MICROCOSMOS', 2006, 1, 6, Decimal('0.99'), 115, Decimal('25.99'), 'G')
(179, 'CONQUERER NUTS', 2006, 1, 4, Decimal('4.99'), 173, Decimal('14.99'), 'G')
(180, 'CONSPIRACY SPIRIT', 2006, 1, 4, Decimal('2.99'), 184, Decimal('27.99'), 'PG-13')
(181, 'CONTACT ANONYMOUS', 2006, 1, 7, Decimal('2.99'), 166, Decimal('10.99'), 'PG-13')
(182, 'CONTROL ANTHEM', 2006, 1, 7, Decimal('4.99'), 185, Decimal('9.99'), 'G')
(183, 'CONVERSATION DOWNHILL', 2006, 1, 4, Decimal('4.99'), 112, Decimal('14.99'), 'R')
(184, 'CORE SUIT', 2006, 1, 3, Decimal('2.99'), 92, Decimal('24.99'), 'PG-13')
(185, 'COWBOY DOOM', 2006, 1, 3, Decimal('2.99'), 146, Decimal('10.99'), 'PG')
(186, 'CRAFT OUTFIELD', 2006, 1, 6, Decimal('0.99'), 64, Decimal('17.99'), 'NC-17')
(187, 'CRANES RESERVOIR', 2006, 1, 5, Decimal('2.99'), 57, Decimal('12.99'), 'NC-17')
(188, 'CRAZY HOME', 2006, 1, 7, Decimal('2.99'), 136, Decimal('24.99'), 'PG')
(189, 'CREATURES SHAKESPEARE', 2006, 1, 3, Decimal('0.99'), 139, Decimal('23.99'), 'NC-17')
(190, 'CREEPERS KANE', 2006, 1, 5, Decimal('4.99'), 172, Decimal('23.99'), 'NC-17')
(191, 'CROOKED FROGMEN', 2006, 1, 6, Decimal('0.99'), 143, Decimal('27.99'), 'PG-13')
(192, 'CROSSING DIVORCE', 2006, 1, 4, Decimal('4.99'), 50, Decimal('19.99'), 'R')
(193, 'CROSSROADS CASUALTIES', 2006, 1, 5, Decimal('2.99'), 153, Decimal('20.99'), 'G')
(194, 'CROW GREASE', 2006, 1, 6, Decimal('0.99'), 104, Decimal('22.99'), 'PG')
(195, 'CROWDS TELEMARK', 2006, 1, 3, Decimal('4.99'), 112, Decimal('16.99'), 'R')
(196, 'CRUELTY UNFORGIVEN', 2006, 1, 7, Decimal('0.99'), 69, Decimal('29.99'), 'G')
(197, 'CRUSADE HONEY', 2006, 1, 4, Decimal('2.99'), 112, Decimal('27.99'), 'R')
(198, 'CRYSTAL BREAKING', 2006, 1, 6, Decimal('2.99'), 184, Decimal('22.99'), 'NC-17')
(199, 'CUPBOARD SINNERS', 2006, 1, 4, Decimal('2.99'), 56, Decimal('29.99'), 'R')
(200, 'CURTAIN VIDEOTAPE', 2006, 1, 7, Decimal('0.99'), 133, Decimal('27.99'), 'PG-13')
(201, 'CYCLONE FAMILY', 2006, 1, 7, Decimal('2.99'), 176, Decimal('18.99'), 'PG')
(202, 'DADDY PITTSBURGH', 2006, 1, 5, Decimal('4.99'), 161, Decimal('26.99'), 'G')
(203, 'DAISY MENAGERIE', 2006, 1, 5, Decimal('4.99'), 84, Decimal('9.99'), 'G')
(204, 'DALMATIONS SWEDEN', 2006, 1, 4, Decimal('0.99'), 106, Decimal('25.99'), 'PG')
(205, 'DANCES NONE', 2006, 1, 3, Decimal('0.99'), 58, Decimal('22.99'), 'NC-17')
(206, 'DANCING FEVER', 2006, 1, 6, Decimal('0.99'), 144, Decimal('25.99'), 'G')
(207, 'DANGEROUS UPTOWN', 2006, 1, 7, Decimal('4.99'), 121, Decimal('26.99'), 'PG')
(208, 'DARES PLUTO', 2006, 1, 7, Decimal('2.99'), 89, Decimal('16.99'), 'PG-13')
(209, 'DARKNESS WAR', 2006, 1, 6, Decimal('2.99'), 99, Decimal('24.99'), 'NC-17')
(210, 'DARKO DORADO', 2006, 1, 3, Decimal('4.99'), 130, Decimal('13.99'), 'NC-17')
(211, 'DARLING BREAKING', 2006, 1, 7, Decimal('4.99'), 165, Decimal('20.99'), 'PG-13')
(212, 'DARN FORRESTER', 2006, 1, 7, Decimal('4.99'), 185, Decimal('14.99'), 'G')
(213, 'DATE SPEED', 2006, 1, 4, Decimal('0.99'), 104, Decimal('19.99'), 'R')
(214, 'DAUGHTER MADIGAN', 2006, 1, 3, Decimal('4.99'), 59, Decimal('13.99'), 'PG-13')
(215, 'DAWN POND', 2006, 1, 4, Decimal('4.99'), 57, Decimal('27.99'), 'PG')
(216, 'DAY UNFAITHFUL', 2006, 1, 3, Decimal('4.99'), 113, Decimal('16.99'), 'G')
(217, 'DAZED PUNK', 2006, 1, 6, Decimal('4.99'), 120, Decimal('20.99'), 'G')
(218, 'DECEIVER BETRAYED', 2006, 1, 7, Decimal('0.99'), 122, Decimal('22.99'), 'NC-17')
(219, 'DEEP CRUSADE', 2006, 1, 6, Decimal('4.99'), 51, Decimal('20.99'), 'PG-13')
(220, 'DEER VIRGINIAN', 2006, 1, 7, Decimal('2.99'), 106, Decimal('13.99'), 'NC-17')
(221, 'DELIVERANCE MULHOLLAND', 2006, 1, 4, Decimal('0.99'), 100, Decimal('9.99'), 'R')
(222, 'DESERT POSEIDON', 2006, 1, 4, Decimal('4.99'), 64, Decimal('27.99'), 'R')
(223, 'DESIRE ALIEN', 2006, 1, 7, Decimal('2.99'), 76, Decimal('24.99'), 'NC-17')
(224, 'DESPERATE TRAINSPOTTING', 2006, 1, 7, Decimal('4.99'), 81, Decimal('29.99'), 'G')
(225, 'DESTINATION JERK', 2006, 1, 3, Decimal('0.99'), 76, Decimal('19.99'), 'PG-13')
(226, 'DESTINY SATURDAY', 2006, 1, 4, Decimal('4.99'), 56, Decimal('20.99'), 'G')
(227, 'DETAILS PACKER', 2006, 1, 4, Decimal('4.99'), 88, Decimal('17.99'), 'R')
(228, 'DETECTIVE VISION', 2006, 1, 4, Decimal('0.99'), 143, Decimal('16.99'), 'PG-13')
(229, 'DEVIL DESIRE', 2006, 1, 6, Decimal('4.99'), 87, Decimal('12.99'), 'R')
(230, 'DIARY PANIC', 2006, 1, 7, Decimal('2.99'), 107, Decimal('20.99'), 'G')
(231, 'DINOSAUR SECRETARY', 2006, 1, 7, Decimal('2.99'), 63, Decimal('27.99'), 'R')
(232, 'DIRTY ACE', 2006, 1, 7, Decimal('2.99'), 147, Decimal('29.99'), 'NC-17')
(233, 'DISCIPLE MOTHER', 2006, 1, 3, Decimal('0.99'), 141, Decimal('17.99'), 'PG')
(234, 'DISTURBING SCARFACE', 2006, 1, 6, Decimal('2.99'), 94, Decimal('27.99'), 'R')
(235, 'DIVIDE MONSTER', 2006, 1, 6, Decimal('2.99'), 68, Decimal('13.99'), 'PG-13')
(236, 'DIVINE RESURRECTION', 2006, 1, 4, Decimal('2.99'), 100, Decimal('19.99'), 'R')
(237, 'DIVORCE SHINING', 2006, 1, 3, Decimal('2.99'), 47, Decimal('21.99'), 'G')
(238, 'DOCTOR GRAIL', 2006, 1, 4, Decimal('2.99'), 57, Decimal('29.99'), 'G')
(239, 'DOGMA FAMILY', 2006, 1, 5, Decimal('4.99'), 122, Decimal('16.99'), 'G')
(240, 'DOLLS RAGE', 2006, 1, 7, Decimal('2.99'), 120, Decimal('10.99'), 'PG-13')
(241, 'DONNIE ALLEY', 2006, 1, 4, Decimal('0.99'), 125, Decimal('20.99'), 'NC-17')

## Create actor table

In [ ]:
try:
    conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
    print("Connected to MySQL database")
except mysql.connector.Error as err:
    print("Error connecting to MySQL database:", err)
    exit(1)

if conn.is_connected():
    cursor = conn.cursor()

    create_actor_table_query = """
    CREATE TABLE actor (
      actor_id INT AUTO_INCREMENT PRIMARY KEY,
      first_name VARCHAR(45) NOT NULL,
      last_name VARCHAR(45) NOT NULL
    )
    """

    try:
        cursor.execute(create_actor_table_query)
        print("Table 'actor' created successfully.")
    except mysql.connector.Error as err:
        print(f"Failed to create table: {err}")
    finally:
        cursor.close()
        conn.close()

Connected to MySQL database
Failed to create table: 1050 (42S01): Table 'actor' already exists

## Create film_actor table

In [ ]:
try:
    conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
    print("Connected to MySQL database")
except mysql.connector.Error as err:
    print("Error connecting to MySQL database:", err)
    exit(1)

if conn.is_connected():
    cursor = conn.cursor()

    create_film_actor_table_query = """
    CREATE TABLE film_actor (
      actor_id INT,
      film_id INT,
      FOREIGN KEY (actor_id) REFERENCES actor(actor_id),
      FOREIGN KEY (film_id) REFERENCES film(film_id),
      PRIMARY KEY (actor_id, film_id)
    )
    """

    try:
        cursor.execute(create_film_actor_table_query)
        print("Table 'film_actor' created successfully.")
    except mysql.connector.Error as err:
        print(f"Failed to create table: {err}")
    finally:
        cursor.close()
        conn.close()

Connected to MySQL database
Failed to create table: 1050 (42S01): Table 'film_actor' already exists

## Create category table

In [ ]:
try:
    conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
    print("Connected to MySQL database")
except mysql.connector.Error as err:
    print("Error connecting to MySQL database:", err)
    exit(1)

if conn.is_connected():
    cursor = conn.cursor()

    create_category_table_query = """
    CREATE TABLE category (
      category_id INT AUTO_INCREMENT PRIMARY KEY,
      name VARCHAR(45) NOT NULL
    )
    """

    try:
        cursor.execute(create_category_table_query)
        print("Table 'category' created successfully.")
    except mysql.connector.Error as err:
        print(f"Failed to create table: {err}")
    finally:
        cursor.close()
        conn.close()

Connected to MySQL database
Failed to create table: 1050 (42S01): Table 'category' already exists

## Create film_category table

In [ ]:
try:
    conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
    print("Connected to MySQL database")
except mysql.connector.Error as err:
    print("Error connecting to MySQL database:", err)
    exit(1)

if conn.is_connected():
    cursor = conn.cursor()

    create_film_category_table_query = """
    CREATE TABLE film_category (
      film_id INT,
      category_id INT,
      FOREIGN KEY (film_id) REFERENCES film(film_id),
      FOREIGN KEY (category_id) REFERENCES category(category_id),
      PRIMARY KEY (film_id, category_id)
    )
    """

    try:
        cursor.execute(create_film_category_table_query)
        print("Table 'film_category' created successfully.")
    except mysql.connector.Error as err:
        print(f"Failed to create table: {err}")
    finally:
        cursor.close()
        conn.close()

Connected to MySQL database
Failed to create table: 1050 (42S01): Table 'film_category' already exists

## Loading the transformed data into new database
### Duplicate errors show because I ran the cell multiple times, but it just means the data is there and will not make duplicates

In [ ]:
import mysql.connector


conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
cursor = conn.cursor()

def insert_dataframe_into_mysql_table(df, table_name):
    cols = ','.join(df.columns)
    placeholders = ','.join(['%s'] * len(df.columns))
    query = f"INSERT INTO {table_name} ({cols}) VALUES ({placeholders})"

    data = [tuple(row) for row in df.values]

    cursor.executemany(query, data)
    conn.commit()

try:
    insert_dataframe_into_mysql_table(df_actor, 'actor')
    print("Data inserted into 'actor' table successfully.")

    insert_dataframe_into_mysql_table(df_category, 'category')
    print("Data inserted into 'category' table successfully.")

    insert_dataframe_into_mysql_table(df_filmcategory, 'film_category')
    print("Data inserted into 'film_category' table successfully.")

    insert_dataframe_into_mysql_table(df_film, 'film')
    print("Data inserted into 'category' table successfully.")

    insert_dataframe_into_mysql_table(df_filmactor, 'film_actor')
    print("Data inserted into 'category' table successfully.")

except mysql.connector.Error as err:
    print(f"Error inserting data: {err}")

# Close cursor and connection
cursor.close()
conn.close()

Error inserting data: 1062 (23000): Duplicate entry '1' for key 'actor.PRIMARY'

In [ ]:
conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
cursor = conn.cursor()

try:
    conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
    print("Connected to MySQL database")

    cursor = conn.cursor()

    insert_film_query = """
    INSERT INTO film (film_id, title, release_year, language_id, rental_duration, rental_rate, length, replacement_cost, rating)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """

    for _, row in df_film.iterrows():
        row_data = tuple(row)

        cursor.execute(insert_film_query, row_data)

    conn.commit()

    print("Data inserted into 'film' table successfully.")

except mysql.connector.Error as err:
    print(f"Error inserting data: {err}")
finally:
    cursor.close()
    conn.close()

Connected to MySQL database
Error inserting data: 1062 (23000): Duplicate entry '1' for key 'film.PRIMARY'

In [ ]:
try:
    conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
    print("Connected to MySQL database")
    cursor = conn.cursor()

    insert_film_actor_query = """
    INSERT INTO film_actor (actor_id, film_id)
    VALUES (%s, %s)
    """

    for _, row in df_filmactor.iterrows():
        row_data = tuple(row)

        cursor.execute(insert_film_actor_query, row_data)

    conn.commit()

    print("Data inserted into 'film_actor' table successfully.")

except mysql.connector.Error as err:
    print(f"Error inserting data: {err}")
finally:
    cursor.close()
    conn.close()

Connected to MySQL database
Error inserting data: 1062 (23000): Duplicate entry '1-1' for key 'film_actor.PRIMARY'

In [ ]:

try:
    conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
    print("Connected to MySQL database")

    cursor = conn.cursor()

    insert_film_category_query = """
    INSERT INTO film_category (film_id, category_id)
    VALUES (%s, %s)
    """

    for _, row in df_filmcategory.iterrows():
        row_data = tuple(row)

        cursor.execute(insert_film_category_query, row_data)

    conn.commit()

    print("Data inserted into 'film_category' table successfully.")

except mysql.connector.Error as err:
    print(f"Error inserting data: {err}")
finally:
    cursor.close()
    conn.close()

Connected to MySQL database
Error inserting data: 1062 (23000): Duplicate entry '1-6' for key 'film_category.PRIMARY'

## Extract Data from CSV File

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/aniishap/ds2002/main/Project1/top-500-movies.csv'
original_csv = pd.read_csv(url)
original_csv.head(5)

,rank,release_date,title,url,production_cost,domestic_gross,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year
0,1,2019-04-23,Avengers: Endgame,/movie/Avengers-Endgame-(2019)#tab=summary,400000000,858373000,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019.0
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,/movie/Pirates-of-the-Caribbean-On-Stranger-Ti...,379000000,241071802,1045713802,90151958.0,PG-13,Adventure,4164.0,136.0,2011.0
2,3,2015-04-22,Avengers: Age of Ultron,/movie/Avengers-Age-of-Ultron#tab=summary,365000000,459005868,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015.0
3,4,2015-12-16,Star Wars Ep. VII: The Force Awakens,/movie/Star-Wars-Ep-VII-The-Force-Awakens#tab=...,306000000,936662225,2064615817,247966675.0,PG-13,Adventure,4134.0,136.0,2015.0
4,5,2018-04-25,Avengers: Infinity War,/movie/Avengers-Infinity-War#tab=summary,300000000,678815482,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018.0

## Transform CSV files to relate to tables from SAKILA db

In [ ]:
original_csv = original_csv.rename(columns={'genre': 'name'})
original_csv = original_csv.rename(columns={'mpaa': 'rating'})

# rename columns for variable name consistency throughout database

original_csv.head(5)

,rank,release_date,title,url,production_cost,domestic_gross,worldwide_gross,opening_weekend,rating,name,theaters,runtime,year
0,1,2019-04-23,Avengers: Endgame,/movie/Avengers-Endgame-(2019)#tab=summary,400000000,858373000,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019.0
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,/movie/Pirates-of-the-Caribbean-On-Stranger-Ti...,379000000,241071802,1045713802,90151958.0,PG-13,Adventure,4164.0,136.0,2011.0
2,3,2015-04-22,Avengers: Age of Ultron,/movie/Avengers-Age-of-Ultron#tab=summary,365000000,459005868,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015.0
3,4,2015-12-16,Star Wars Ep. VII: The Force Awakens,/movie/Star-Wars-Ep-VII-The-Force-Awakens#tab=...,306000000,936662225,2064615817,247966675.0,PG-13,Adventure,4134.0,136.0,2015.0
4,5,2018-04-25,Avengers: Infinity War,/movie/Avengers-Infinity-War#tab=summary,300000000,678815482,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018.0

In [ ]:
import pandas as pd

category_map = {
    "Action": 1,
    "Animation": 2,
    "Children": 3,
    "Classics": 4,
    "Comedy": 5,
    "Documentary": 6,
    "Drama": 7,
    "Family": 8,
    "Foreign": 9,
    "Games": 10,
    "Horror": 11,
    "Music": 12,
    "New": 13,
    "Sci-Fi": 14,
    "Sports": 15,
    "Travel": 16
}

original_csv['category_id'] = original_csv['name'].map(category_map)
original_csv = original_csv.dropna(subset=['category_id'])
original_csv = original_csv.dropna()
original_csv['category_id'] = original_csv['category_id'].astype(int)
original_csv['year'] = original_csv['year'].astype(int)



original_csv.head(5)

,rank,release_date,title,url,production_cost,domestic_gross,worldwide_gross,opening_weekend,rating,name,theaters,runtime,year,category_id
0,1,2019-04-23,Avengers: Endgame,/movie/Avengers-Endgame-(2019)#tab=summary,400000000,858373000,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019,1
2,3,2015-04-22,Avengers: Age of Ultron,/movie/Avengers-Age-of-Ultron#tab=summary,365000000,459005868,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015,1
4,5,2018-04-25,Avengers: Infinity War,/movie/Avengers-Infinity-War#tab=summary,300000000,678815482,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018,1
6,7,2017-11-13,Justice League,/movie/Justice-League-(2017)#tab=summary,300000000,229024295,655945209,93842239.0,PG-13,Action,4051.0,121.0,2017,1
7,8,2015-10-06,Spectre,/movie/Spectre#tab=summary,300000000,200074175,879500760,70403148.0,PG-13,Action,3929.0,148.0,2015,1

In [ ]:
# drop unnecessary columns so that we can create a table focusing on rank, profits and film characteristics

original_csv = original_csv.drop(columns=['release_date', 'url', 'runtime'])
df_filmprofits = original_csv.reset_index(drop=True)  # Drop the old index
change_order = ["rank", "category_id", "title", "production_cost", "domestic_gross",
                  "worldwide_gross", "opening_weekend", "rating", "name", "theaters", "year"]
df_filmprofits = df_filmprofits[change_order]


df_filmprofits.head(5)

,rank,category_id,title,production_cost,domestic_gross,worldwide_gross,opening_weekend,rating,name,theaters,year
0,1,1,Avengers: Endgame,400000000,858373000,2797800564,357115007.0,PG-13,Action,4662.0,2019
1,3,1,Avengers: Age of Ultron,365000000,459005868,1395316979,191271109.0,PG-13,Action,4276.0,2015
2,5,1,Avengers: Infinity War,300000000,678815482,2048359754,257698183.0,PG-13,Action,4474.0,2018
3,7,1,Justice League,300000000,229024295,655945209,93842239.0,PG-13,Action,4051.0,2017
4,8,1,Spectre,300000000,200074175,879500760,70403148.0,PG-13,Action,3929.0,2015

# Create new table in database to load data from transformed CSV file

In [ ]:
import mysql.connector

try:
    conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
    print("Connected to MySQL database")
except mysql.connector.Error as err:
    print("Error connecting to MySQL database:", err)
    exit(1)

if conn.is_connected():
    cursor = conn.cursor()
    create_filmprofits_query = """
    CREATE TABLE film_profits (
        rank_id INT PRIMARY KEY,
        category_id INT,
        title VARCHAR(255) NOT NULL,
        production_cost BIGINT,
        domestic_gross BIGINT,
        worldwide_gross BIGINT,
        opening_weekend INT,
        rating VARCHAR(10),
        name VARCHAR(255) NOT NULL,
        theaters FLOAT,
        year INT,
        FOREIGN KEY (category_id) REFERENCES category(category_id)
    )
    """

    try:
        cursor.execute(create_filmprofits_query)
        print("Table 'film_profits' created successfully.")
    except mysql.connector.Error as err:
        print(f"Failed to create table: {err}")
    finally:
        cursor.close()
        conn.close()

Connected to MySQL database
Table 'film_profits' created successfully.

## Load Transformed CSV Data Into The Created SQL table

In [ ]:
import mysql.connector

try:
    conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
    print("Connected to MySQL database")

    cursor = conn.cursor()
    insert_filmprofits_query = """
    INSERT INTO film_profits (rank_id, category_id, title, production_cost, domestic_gross, worldwide_gross, opening_weekend, rating, name, theaters, year)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    for _, row in df_filmprofits.iterrows():
        row_data = tuple(row)
        cursor.execute(insert_filmprofits_query, row_data)

    conn.commit()
    print("Data inserted into 'film_profits' table successfully.")

except mysql.connector.Error as err:
    print(f"Error inserting data: {err}")

finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

Connected to MySQL database
Data inserted into 'film_profits' table successfully.

Extract Data from an API Call and Save to CSV File in Google Colab file directory

In [12]:
import requests
import pandas as pd
import json
import os

def fetch_movie_info(url, response_type):
    try:
        response = requests.get(url)
        response.raise_for_status()
    except requests.exceptions.RequestException as err:
        return f"An error occurred: {err}"

    if response_type == 'json':
        result = response.json()
    else:
        result = "An unhandled error has occurred!"

    return result

def write_to_csv(data, file_name):
    df = pd.DataFrame(data['description'])
    df.to_csv(file_name, index=False)
    print(f"Data stored in {file_name}")

valid_url = "https://search.imdbot.workers.dev/?q=avengers" # just an example of extracting by a movie title
response_type = 'json'

movie_data = fetch_movie_info(valid_url, response_type)

if isinstance(movie_data, dict):
    file_name = 'movie_information.csv'
    write_to_csv(movie_data, file_name)
else:
    print(movie_data)

Data stored in movie_information.csv

## Import the Extracted CSV taken from the API Call (saved it and uploaded it to github)

In [16]:
import pandas as pd
url="https://raw.githubusercontent.com/aniishap/ds2002/main/Project1/api_extract.csv"
api_extract=pd.read_csv(url)
api_extract.head(2)

,#TITLE,#YEAR,#IMDB_ID,#RANK,#ACTORS,#AKA,#IMDB_URL,#IMDB_IV,#IMG_POSTER,photo_width,photo_height
0,Avengers: Endgame,2019,tt4154796,547,"Robert Downey Jr., Chris Evans",Avengers: Endgame (2019),https://imdb.com/title/tt4154796,https://t.me/iv?url=https%3A%2F%2Fimdb.com%2Ft...,https://m.media-amazon.com/images/M/MV5BMTc5MD...,1382,2048
1,The Avengers,2012,tt0848228,1261,"Robert Downey Jr., Chris Evans",The Avengers (2012),https://imdb.com/title/tt0848228,https://t.me/iv?url=https%3A%2F%2Fimdb.com%2Ft...,https://m.media-amazon.com/images/M/MV5BNDYxNj...,800,1184

## Transform Data to integrate into database with Sakila data and film_profits data