<a href="https://colab.research.google.com/github/aniishap/ds2002/blob/main/MongoLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)

In [39]:
# Exercise 1: Connecting to MongoDB
import os
import datetime
import pymongo
import pprint
import pandas as pd

In [40]:
host_name = "localhost"
port = "27017"

atlas_cluster_name = "cluster0.xuibg2h"
atlas_default_dbname = "local"
atlas_user_name = "ds2002sp23"
atlas_password = "uva1819"

In [41]:
conn_str = {
    "local" : f"mongodb://{host_name}:{port}/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net/{atlas_default_dbname}"
}

client = pymongo.MongoClient(conn_str["atlas"])

print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb+srv://ds2002sp23:uva1819@cluster0.xuibg2h.mongodb.net/local

In [46]:
# Exercise 2: Creating and Using a Database

# list of collections in the database
client.list_database_names()

['AlbertHuang_class',
 'AlyssaRask_class',
 'DS2002Final',
 'DiegoMcgrath_class',
 'ElijahKim_class',
 'Emaan_class',
 'JThompson_class',
 'JackNickerson_class',
 'JamesDraudt_class',
 'JoeThompson_class',
 'KevinZhang_class',
 'Larissa_class',
 'MaxChang_class',
 'MiaArk_class',
 'RainaVardhanapu_class',
 'SebastianWiktorowicz_class',
 'Siona_Pathak_class',
 'StoreProducts',
 'TenzinNargee_class',
 'ValynGrebe_class',
 'VarunPavuloori_class',
 '_class',
 'aidantan_class',
 'anagha_class',
 'anisha_class',
 'anne_class',
 'api_project',
 'blog',
 'chasemullard_class',
 'eva_class',
 'grace_class',
 'kaylasprincis_class',
 'olivia_class',
 'project',
 'ronit_class',
 'rushvi_class',
 'sakila',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'sp_project2',
 'sutherland_class',
 'admin',
 'local']

In [48]:
db_name = "anishaponugupati_class"

db = client[db_name]
client.list_database_names()

[]

In [49]:
db.list_collection_names()

[]

In [ ]:
# Exercise 3: Creating a Collection and Inserting Documents

In [51]:
# insert single document
individual_student = {"name": "Anisha",
        "year": 3,
        "graduation": 2025,
        "major": "Statistics",
                      "gpa": 3.8}

# create collection
students = db.students
individual_student_id = students.insert_one(individual_student).inserted_id

print("Document ID: ", individual_student_id)

Document ID:  66036eef804b3db569907877

In [52]:
# insert multiple documents in one operation
multiple_students = [{"name": "Abby",
        "year": 4,
        "graduation": 2024,
        "major": "Computer Science",
                      "gpa": 3.4},
         {"name": "Lily",
        "year": 2,
        "graduation": 2026,
        "major": "Data Science",
                      "gpa": 3.9}]

result = students.insert_many(multiple_students)
pprint.pprint(result.inserted_ids)

[ObjectId('6603700b804b3db569907878'), ObjectId('6603700b804b3db569907879')]

In [54]:
# Exercise 4: querying documents

# find all documents in the students collection
for student in students.find():
    pprint.pprint(student)

{'_id': ObjectId('66036ec5804b3db569907876'),
 'gpa': 3.5,
 'graduation': 2025,
 'major': 'Statistics',
 'name': 'Anisha',
 'year': 3}
{'_id': ObjectId('66036eef804b3db569907877'),
 'gpa': 3.8,
 'graduation': 2025,
 'major': 'Statistics',
 'name': 'Anisha',
 'year': 3}
{'_id': ObjectId('6603700b804b3db569907878'),
 'gpa': 3.4,
 'graduation': 2024,
 'major': 'Computer Science',
 'name': 'Abby',
 'year': 4}
{'_id': ObjectId('6603700b804b3db569907879'),
 'gpa': 3.9,
 'graduation': 2026,
 'major': 'Data Science',
 'name': 'Lily',
 'year': 2}

In [55]:
# Perform a query to find a document in the students collection with a specific attribute, lake name = mary or something based on the key valu fapl
students.find_one({"name": "Anisha"})

{'_id': ObjectId('66036ec5804b3db569907876'),
 'name': 'Anisha',
 'year': 3,
 'graduation': 2025,
 'major': 'Statistics',
 'gpa': 3.5}

In [56]:
# Exercise 5: Updating Documents

# Update a specific document in the students collection.

students.update_one({"name": "Anisha"}, {"$set": {"gpa": 4.0}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000187'), 'opTime': {'ts': Timestamp(1711501583, 13), 't': 391}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711501583, 13), 'signature': {'hash': b't\x96\xd3\xe6\x93\xa8$\xaa\x99\xa9\xf4\xb1\x85|\x8d\x81"\x00^\xba', 'keyId': 7305585258479484929}}, 'operationTime': Timestamp(1711501583, 13), 'updatedExisting': True}, acknowledged=True)

In [57]:
# Update multiple documents based on a specific condition.

students.update_many({"year": 4}, {"$set": {"graduation": 2024}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000187'), 'opTime': {'ts': Timestamp(1711501825, 24), 't': 391}, 'nModified': 0, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711501825, 24), 'signature': {'hash': b'\x0e\xe16\xad\xc4\x96\xc4\xe8C\xae\xa2\xd5]Mb2\xfdYT\x9b', 'keyId': 7305585258479484929}}, 'operationTime': Timestamp(1711501825, 24), 'updatedExisting': True}, acknowledged=True)

In [58]:
for student in students.find():
    pprint.pprint(student)

{'_id': ObjectId('66036ec5804b3db569907876'),
 'gpa': 4.0,
 'graduation': 2025,
 'major': 'Statistics',
 'name': 'Anisha',
 'year': 3}
{'_id': ObjectId('66036eef804b3db569907877'),
 'gpa': 3.8,
 'graduation': 2025,
 'major': 'Statistics',
 'name': 'Anisha',
 'year': 3}
{'_id': ObjectId('6603700b804b3db569907878'),
 'gpa': 3.4,
 'graduation': 2024,
 'major': 'Computer Science',
 'name': 'Abby',
 'year': 4}
{'_id': ObjectId('6603700b804b3db569907879'),
 'gpa': 3.9,
 'graduation': 2026,
 'major': 'Data Science',
 'name': 'Lily',
 'year': 2}

In [61]:
# Exercise 6: Deleting Documents

# Delete a specific document from the students collection.
students.delete_one({"name": "Anisha"})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000187'), 'opTime': {'ts': Timestamp(1711501968, 1), 't': 391}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711501968, 1), 'signature': {'hash': b'\x1a\xe8[\x8dL\xd1\xde\xed\xe9d\xaa\xd7\xbc\xc3\xbfd96\x9f\x8e', 'keyId': 7305585258479484929}}, 'operationTime': Timestamp(1711501968, 1)}, acknowledged=True)

In [62]:
for student in students.find():
    pprint.pprint(student)

{'_id': ObjectId('6603700b804b3db569907878'),
 'gpa': 3.4,
 'graduation': 2024,
 'major': 'Computer Science',
 'name': 'Abby',
 'year': 4}
{'_id': ObjectId('6603700b804b3db569907879'),
 'gpa': 3.9,
 'graduation': 2026,
 'major': 'Data Science',
 'name': 'Lily',
 'year': 2}

In [63]:
# Delete multiple
students.delete_many({"year": 4})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000187'), 'opTime': {'ts': Timestamp(1711501985, 29), 't': 391}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711501985, 29), 'signature': {'hash': b'(\xd5\xdc\xb6U\xb5XZ!\xe6\xf1x@re!\xc8\xb9\xb9M', 'keyId': 7305585258479484929}}, 'operationTime': Timestamp(1711501985, 29)}, acknowledged=True)

In [64]:
for student in students.find():
    pprint.pprint(student)

{'_id': ObjectId('6603700b804b3db569907879'),
 'gpa': 3.9,
 'graduation': 2026,
 'major': 'Data Science',
 'name': 'Lily',
 'year': 2}